<div class="content vertical-center">
    <div class="container">
        <h1>Authentication Failed</h1>
        <p>It looks you have clicked on an invalid email verification link. Please close this window and try authenticating again.</p>
    </div>
</div>